<!-- start: TOP NAVBAR -->
<!-- start: NAVBAR HEADER -->
<div class="container" data-ng-controller="HeaderController">
<div class="navbar-header">
	<a class="navbar-brand" ui-sref="app.dashboard">
		<img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
	</a>
		<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed">
		<i class="ti-align-justify"></i>
	</a>
	<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed">
		<span class="sr-only">Toggle navigation</span>
		<i class="ti-view-grid"></i>
	</a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
	<nav class="collapse navbar-collapse" collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler" role="navigation">
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-if="!authentication.user">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.menuItemType === 'item';" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>

			<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
							<!-- start: QUICKTIME DROPDOWN -->
			<li class="dropdown" dropdown on-toggle="toggled(open)">
			<a href class="dropdown-toggle" dropdown-toggle>
				<i class="ti-timer"></i> <span translate="topbar.quicktime.MAIN">ACTIVITIES</span>
			</a>
			<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
				<li>
					<span class="dropdown-header" translate="topbar.quicktime.HEADER"> You have new notifications</span>
				</li>
				<li>
					<div class="drop-down-wrapper ps-container">
						<div class="list-group no-margin">
							<a class="media list-group-item" href="">
								<img class="img-circle" alt="..." src="modules/core/img/avatar-1.jpg">
								<span class="media-body block no-margin"> Use awesome animate.css <small class="block text-grey">10 minutes ago</small> </span>
							</a>
							<a class="media list-group-item" href="">
								<span class="media-body block no-margin"> 1.0 initial released <small class="block text-grey">1 hour ago</small> </span>
							</a>
						</div>
					</div>
				</li>
			</ul>
		</li>
			<!-- end: QUICKTIME DROPDOWN -->
			
			<li class="dropdown" dropdown>
			
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
					<img alt="..." src="modules/core/img/avatar-1.jpg"><span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="#">Personal Settings</a>
					</li>

					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li>								
						<a href="#">Contact Support</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/#!/manageusers">Manage Users</a>
					</li>
					<li>
						<a href="#">Account Settings</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>

	</nav>
</div>