.content {
	margin-top: 65px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar-inverse{
	background-image:linear-gradient(to bottom,transparent 0%, transparent 100%);
	background-color:transparent;	
}

.navbar-inverse{
	background-image:linear-gradient(to bottom,transparent 0%, transparent 100%);
	background-color:transparent;	
}

.signin form-horizontal{
	width:100%;
	
}
