<section data-ng-controller="UsersController"  data-ng-init="find()">
	    <div class="page-header">
        <h1>Users</h1>
    </div>
   <div class="table-responsive" ng-controller="ngTableCtrl7">
						<table ng-table="tableParams" class="table">
							<tbody ng-repeat="p in $data">
								<tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
									<td class="rowTd" data-title="'ID'"          sortable="'id'">{{p.id}}</td>
									<td class="rowTd" data-title="'Firstname'"   sortable="'fn'">{{p.fn}}</td>
									<td class="rowTd" data-title="'Lastname'"    sortable="'ln'">{{p.ln}}</td>
									<td class="rowTd" data-title="'Description'" sortable="'dc'">{{p.dc}}</td>
									<td class="rowTd" data-title="'Email'"       sortable="'em'">{{p.em}}</td>
									<td class="rowTd" data-title="'Phone'"       sortable="'ph'">{{p.ph}}</td>
									<td class="rowTd" >
									<div class="pull-right margin-right-10">
										<input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.id}}" value="edit"
										ng-click="setEditId(p.id)">
									</div></td>
								</tr>
								<tr ng-show="editId===p.id" ng-if="editId===p.id">
									<td colspan="7" ng-include src="'modules/projects/views/partials/editRow.html'"></td>
								</tr>
							</tbody>
						</table>
					</div>
    <div class="alert alert-warning text-center" data-ng-hide="!customers.$resolved || customers.length">
    	No Customers yet, why don't you <a href="/#!/customers/create">create one</a>?
    </div>
</section>