<section data-ng-controller="UsersController"  data-ng-init="find()">
	    <div class="page-header">
        <h1>Users</h1>
    </div>
            <div class="row">
                <div class="col-md-5">
                 <div class="form-group">
                   <input type="submit" class="btn btn-primary" value="New User">
               </div>
               </div>
        </div>
				    <div class="list-group" ng-controller="UsersController">
				        <table ng-table="tableParams" class="table">				        
				          	 <tr ng-repeat="user in $data">
					            <td data-title="'Name'" sortable="'name'">
					                {{user.displayName}}
					            </td>
					            <td data-title="'Email'" sortable="'email'">
					                {{user.email}}
					            </td>
					           <td data-title="'Roles'" sortable="'role'">
					                {{user.roles[0]}}
					            </td>
					            
					             <td >
					             <div class="pull-right margin-right-10">
										<input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn" value="view">
									</div>
									<div class="pull-right margin-right-10">
										<input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn" value="edit">
									</div></td>
					            </tr>

				            </table>
				    
				    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!customers.$resolved || customers.length">
    	No Customers yet, why don't you <a href="/#!/customers/create">create one</a>?
    </div>
</section>