<section data-ng-controller="SettingsController" data-ng-init="createInit()">
    <div class="page-header">
        <h1>Account Settings</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
        	<div class="row">
               <div class="col-md-5">
	               <div class="form-group">
	                   <input type="submit" class="btn btn-primary">
	               </div>
               </div>
	        </div>
            <fieldset>
            	<legend>Company Information</legend>
                <div class="form-group">
                    <label class="control-label" for="companyname">Company Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="companyname" id="companyname" class="form-control" placeholder="Enter Company Name" required>
                    </div>
                </div>

                </fieldset>
                <fieldset>
                <legend>Access Preferences</legend>
                <div class="row">
					<div class="form-group">
						<div class="checkbox">
						<div class="col-xs-6">
						<switch ng-model="switchsetting" ng-init="switchsetting = true" class="green"></switch>
						</div>
						<div class="col-xs-6">
						<div>Allow Project Managers to Create Users</div>	
						</div>				
						</div>
					</div>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>