<section data-ng-controller="ProjectsController" data-ng-init="createInit()">
    <div class="page-header">
        <h1>New Project</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
        <div class="row">
                <div class="col-md-5">
                 <div class="form-group">
                   <input type="submit" class="btn btn-primary">
               </div>
               </div>
        </div>
            <div class="row">
            
            <fieldset>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label" for="name">Project Name <span class="symbol required"></span></label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Enter Name" required>
                    </div>
                </div>
                <div class="form-group">
									<label>
										Customer <span class="symbol required"></span>
									</label>
									<ui-select ng-model="customer" theme="bootstrap">
										<ui-select-match placeholder="Select in the list...">
											{{$select.selected.name}}
										</ui-select-match>
										<ui-select-choices group-by="'group'" repeat="customer in customers | filter: $select.search">
											<span ng-bind-html="customer.name | highlight: $select.search"></span>
											<small ng-bind-html="customer.email | highlight: $select.search"></small>
										</ui-select-choices>
									</ui-select>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="form-group">
				<label>
					Status <span class="symbol required"></span>
				</label>
				<ui-select ng-model="projectstatus" theme="bootstrap">
					<ui-select-match placeholder="Select in the list...">
						{{$select.selected}}
					</ui-select-match>
					<ui-select-choices group-by="'group'" repeat="status in projectstatus | filter: $select.search">
						<span ng-bind-html="status | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
				</div>
                    <div class="form-group">
                   <label class="control-label" for="name">Start Date</label>
					 <div class="controls">
						<p class="input-group" data-ng-controller="ProjectsDateController">
							<input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="startdt" is-open="opened" min-date="minDate" max-date="'2015-12-31'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button> </span>
						</p>
					</div>
					</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</div>	
            </fieldset>
            
            
            </div>
              <tabset class="tabbable">
        			<tab>
						<tab-heading>
							Description
						</tab-heading>
							<textarea class="form-control" rows="10"  placeholder="Enter description" wrap="hard"></textarea>
					</tab>
		<tab>
			<tab-heading>
						Tasks
			</tab-heading>
			<div class="col-md-12">
				<h5 class="over-title margin-bottom-15">Inline <span class="text-bold">edit example</span></h5>
				<!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
				<div ng-controller="ngTableCtrl6">
					<div class="row margin-bottom-10">
						<div class="col-md-12">
							<button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">
								Clear sorting
							</button>
						</div>
					</div>
					<strong>Sorting:</strong> {{tableParams.sorting()|json}}
					<div class="table-responsive">
						<table ng-table="tableParams" class="table">
							<tbody ng-repeat="p in $data">
								<tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
									<td class="rowTd" data-title="'ID'"          sortable="'id'">{{p.id}}</td>
									<td class="rowTd" data-title="'Firstname'"   sortable="'fn'">{{p.fn}}</td>
									<td class="rowTd" data-title="'Lastname'"    sortable="'ln'">{{p.ln}}</td>
									<td class="rowTd" data-title="'Description'" sortable="'dc'">{{p.dc}}</td>
									<td class="rowTd" data-title="'Email'"       sortable="'em'">{{p.em}}</td>
									<td class="rowTd" data-title="'Phone'"       sortable="'ph'">{{p.ph}}</td>
									<td class="rowTd" >
									<div class="pull-right margin-right-10">
										<input type=button class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.id}}" value="edit"
										ng-click="setEditId(p.id)">
									</div></td>
								</tr>
								<tr ng-show="editId===p.id" ng-if="editId===p.id">
									<td colspan="7" ng-include src="'modules/projects/views/partials/editRow.html'"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</tab>
					<tab>
						<tab-heading>
							Resources
						</tab-heading>
						<p>
							Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
						</p>
						<p>
							Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
						</p>
					</tab>
										<tab>
						<tab-heading>
							Preferences
						</tab-heading>
							<div class="panel panel-transparent">
								<div class="panel-heading">
									<h5 class="panel-title">Switches</h5>
								</div>
								<div class="panel-body">
									<p>
										Turn checkboxes in toggle switches.
									</p>
									<div class="checkbox">
										<switch ng-model="switchsetting" ng-init="switchsetting = true" class="green"></switch>
									</div>
								</div>
							</div>
					</tab>
						
        </tabset>
        </form>
 
    </div>
</section>