<!-- start: SEARCH FORM -->
<div class="search-form">
	<a class="s-open" href="#">
		<i class="ti-search"></i>
	</a>
	<form class="navbar-form" role="search">
		<a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
			<i class="ti-close"></i>
		</a>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}">
			<button class="btn search-button" type="submit">
				<i class="ti-search"></i>
			</button>
		</div>
	</form>
</div>
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>

		<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.relationships.MAIN"> Relationships </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active" ng-show="roleroutes['Customer'][authentication.user.role[0]]==true">
				<a href="#">
					<span class="title" translate="sidebar.nav.relationships.CUSTOMERS.MAIN"> Customers </span><i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li>
						<a ui-sref="createCustomer" translate="sidebar.nav.relationships.CUSTOMERS.NEW">
							New Customer
						</a>
					</li>
					<li>
						<a ui-sref="listCustomers" translate="sidebar.nav.relationships.CUSTOMERS.LIST">
							List Customers
						</a>
					</li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a href="#">
					<span class="title" translate="sidebar.nav.relationships.CONTACTS.MAIN"> Contacts </span><i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li>
						<a href="#" translate="sidebar.nav.relationships.CONTACTS.NEW">
							New Contact
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.relationships.CONTACTS.LIST">
							List Contacts
						</a>
					</li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a href="#">
					<span class="title" translate="sidebar.nav.relationships.RESOURCES.MAIN"> Resources </span><i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li>
						<a ui-sref="createResource" translate="sidebar.nav.relationships.RESOURCES.NEW">
							New Resource
						</a>
					</li>
					<li>
						<a ui-sref="listResources" translate="sidebar.nav.relationships.RESOURCES.LIST">
							List Resources
						</a>
					</li>
				</ul>
			</li>

		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-clipboard"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.projects.MAIN"> Projects </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="createProject">
					<span class="title" translate="sidebar.nav.projects.NEW"> New Project </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="listProjects">
					<span class="title" translate="sidebar.nav.projects.LIST"> List Projects </span>
				</a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-timer"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.time.MAIN"> Time </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a href="#">
					<span class="title" translate="sidebar.nav.time.TRACKING.MAIN"> Time Tracking </span><i class="icon-arrow"></i>
				</a>
				<ul class="sub-menu">
					<li>
						<a ui-sref="createTime" translate="sidebar.nav.time.TRACKING.NEW">
							New Time
						</a>
					</li>
					<li>
						<a href="#" translate="sidebar.nav.time.TRACKING.LIST">
							List Time
						</a>
					</li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a href="#">
					<span class="title" translate="sidebar.nav.time.APPROVALS"> Approve Time </span>
				</a>
			</li>
		</ul>
	</li>
		<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-check-box"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.todos.MAIN"> To Dos </span> <i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="createTodo">
					<span class="title" translate="sidebar.nav.todos.NEW"> New To Do </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.ui.elements">
					<span class="title" translate="sidebar.nav.todos.LIST"> List To Dos </span>
				</a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.ui')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pie-chart"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.reports.MAIN"> Reports </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
			<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.ui.elements">
					<span class="title" translate="sidebar.nav.reports.CUSTOMERS"> Customers </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.ui.elements">
					<span class="title" translate="sidebar.nav.reports.PROJECTS"> Projects </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.ui.elements">
					<span class="title" translate="sidebar.nav.reports.TIME"> Time </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.ui.elements">
					<span class="title" translate="sidebar.nav.reports.TASKS"> Tasks </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.ui.elements">
					<span class="title" translate="sidebar.nav.reports.USERS"> Users </span>
				</a>
			</li>
		</ul>
	</li>

</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: DOCUMENTATION BUTTON -->
<div class="wrapper">
	<a ui-sref="app.documentation" class="button-o">
		<i class="ti-help"></i>
		<span translate="sidebar.heading.DOCUMENTATION">Documentation</span>
	</a>
</div>
<!-- end: DOCUMENTATION BUTTON -->